$theme-gitee: (
    // 【主区域】
    // 背景色
    g-main-bg: #f0f2f5,
    // 【头部】
    // 背景色
    g-header-bg: #303643,
    // 文字颜色
    g-header-color: #fff,
    // 导航文字颜色
    g-header-menu-color: #d6d7d9,
    // 导航鼠标悬浮文字颜色
    g-header-menu-hover-color: #fff,
    // 导航鼠标悬浮背景色
    g-header-menu-hover-bg: #40485b,
    // 导航选中文字颜色
    g-header-menu-active-color: #fff,
    // 导航选中背景色
    g-header-menu-active-bg: #40485b,
    // 【主侧边栏】
    // 背景色
    g-main-sidebar-bg: #303643,
    // 菜单文字颜色
    g-main-sidebar-menu-color: #d6d7d9,
    // 菜单鼠标悬浮文字颜色
    g-main-sidebar-menu-hover-color: #fff,
    // 菜单鼠标悬浮背景色
    g-main-sidebar-menu-hover-bg: #40485b,
    // 菜单选中文字颜色
    g-main-sidebar-menu-active-color: #fff,
    // 菜单选中背景色
    g-main-sidebar-menu-active-bg: #40485b,
    // 【次侧边栏】
    // 背景色
    g-sub-sidebar-bg: #f6f6f6,
    // 菜单背景色
    g-sub-sidebar-menu-bg: darken(#f6f6f6, 7),
    // 菜单文字颜色
    g-sub-sidebar-menu-color: #40485b,
    // 菜单鼠标悬浮文字颜色
    g-sub-sidebar-menu-hover-color: #40485b,
    // 菜单鼠标悬浮背景色
    g-sub-sidebar-menu-hover-bg: darken(#f6f6f6, 10),
    // 菜单选中文字颜色
    g-sub-sidebar-menu-active-color: #f6f6f6,
    // 菜单选中背景色
    g-sub-sidebar-menu-active-bg: #fe7300,
    // 【导航标记】
    // 背景色
    g-badge-bg: #f56c6c,
    // 文字颜色
    g-badge-color: #fff,
    // 边框颜色
    g-badge-border-color:#fff
);
