$theme-elegant: (
    // 【主区域】
    // 背景色
    g-main-bg: #f5f7f9,
    // 【头部】
    // 背景色
    g-header-bg: #736477,
    // 文字颜色
    g-header-color: #fff,
    // 导航文字颜色
    g-header-menu-color: #fff,
    // 导航鼠标悬浮文字颜色
    g-header-menu-hover-color: #fff,
    // 导航鼠标悬浮背景色
    g-header-menu-hover-bg: #8d7d91,
    // 导航选中文字颜色
    g-header-menu-active-color: #fff,
    // 导航选中背景色
    g-header-menu-active-bg: #8d7d91,
    // 【主侧边栏】
    // 背景色
    g-main-sidebar-bg: #736477,
    // 菜单文字颜色
    g-main-sidebar-menu-color: #fff,
    // 菜单鼠标悬浮文字颜色
    g-main-sidebar-menu-hover-color: #fff,
    // 菜单鼠标悬浮背景色
    g-main-sidebar-menu-hover-bg: #8d7d91,
    // 菜单选中文字颜色
    g-main-sidebar-menu-active-color: #fff,
    // 菜单选中背景色
    g-main-sidebar-menu-active-bg: #8d7d91,
    // 【次侧边栏】
    // 背景色
    g-sub-sidebar-bg: #ddcdcd,
    // 菜单背景色
    g-sub-sidebar-menu-bg: darken(#ddcdcd, 7),
    // 菜单文字颜色
    g-sub-sidebar-menu-color: #89768f,
    // 菜单鼠标悬浮文字颜色
    g-sub-sidebar-menu-hover-color: #89768f,
    // 菜单鼠标悬浮背景色
    g-sub-sidebar-menu-hover-bg: darken(#ddcdcd, 10),
    // 菜单选中文字颜色
    g-sub-sidebar-menu-active-color: darken(#89768f, 30),
    // 菜单选中背景色
    g-sub-sidebar-menu-active-bg: #b5a5a5,
    // 【导航标记】
    // 背景色
    g-badge-bg: #f56c6c,
    // 文字颜色
    g-badge-color: #fff,
    // 边框颜色
    g-badge-border-color:#fff
);
