$themes: (
    default: $theme-default,
    vue-cli: $theme-vue-cli,
    gitee: $theme-gitee,
    freshness: $theme-freshness,
    elegant: $theme-elegant,
    pure-white: $theme-pure-white
);
@mixin themeify($name: "", $key: "") {
    @each $theme-name, $map in $themes {
        $theme-map: $map !global;
        [data-theme=#{$theme-name}] & {
            @if ($name != "" and $key != "") {
                #{$name}: map-get($theme-map, $key);
            }
            @else {
                @content;
            }
        }
    }
}
@function themed($key) {
    @return map-get($theme-map, $key);
}
