<!--#################-->
<!--### local version-->
<!--#################-->

<!--jquery | vue | element-ui | axios-->
<script src="${request.contextPath}/statics/libs/jquery.min.js"></script>
<script src="${request.contextPath}/statics/libs/vue.min.js"></script>
<script src="${request.contextPath}/statics/plugins/element-ui/index.min.js"></script>
<script src="${request.contextPath}/statics/libs/bootstrap.min.js"></script>
<script src="${request.contextPath}/statics/plugins/layer/layer.js"></script>
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/layer/theme/default/layer.css">
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/element-ui/theme-chalk/index.min.css">
<script src="${request.contextPath}/statics/plugins/axios/axios.min.js"></script>
<script src="${request.contextPath}/statics/libs/router.js"></script>
<script src="${request.contextPath}/statics/libs/app.js"></script>

<!--[if lt IE 9]>
<script src="${request.contextPath}/statics/plugins/IE/html5shiv.min.js"></script>
<script src="${request.contextPath}/statics/plugins/IE/respond.min.js"></script>
<![endif]-->


<!-- bootstrap -->
<link rel="stylesheet" href="${request.contextPath}/statics/css/AdminLTE.min.css">
<link rel="stylesheet" href="${request.contextPath}/statics/css/all-skins.min.css">
<link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
<link rel="stylesheet" href="${request.contextPath}/statics/css/font-awesome.min.css">
<link rel="stylesheet" href="${request.contextPath}/statics/css/all-skins.min.css">
<link rel="stylesheet" href="${request.contextPath}/statics/css/main.css">

<!-- jqgrid -->
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<script src="${request.contextPath}/statics/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="${request.contextPath}/statics/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="${request.contextPath}/statics/plugins/jqgrid/grid.addons.js"></script>
<script src="${request.contextPath}/statics/plugins/jqgrid/grid.setcolumns.js"></script>
<script src="${request.contextPath}/statics/plugins/jqgrid/jquery.tablednd.js"></script>
<script src="${request.contextPath}/statics/plugins/ztree/jquery.ztree.all.min.js"></script>





<script src="${request.contextPath}/statics/js/common.js"></script>
<link rel="stylesheet" href="${request.contextPath}/statics/css/main.css">