<!DOCTYPE html>
<html>
<head>
	<#include "/header.html">
</head>
<body>
<div v-show="showList">
	<div class="grid-btn">
		<!--		<div class="form-group col-sm-2">
                    <input type="text" class="form-control" v-model="q.search" @keyup.enter="query" placeholder="报文搜索">
                </div>
                <input type="hidden" id="id" class="form-control" value="${requestId!!}">
                <a class="btn btn-default" @click="query">查询</a>-->
	</div>
	<div id="rrapp" v-cloak>
		<table id="jqGrid"></table>
		<div id="jqGridPager"></div>
	</div>
</div>
</body>

<script src="${request.contextPath}/statics/js/modules/log-list.js?_${.now?long}"></script>
</html>