<!DOCTYPE html>
<html>
<head>
	<title>管理员列表</title>
	<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.search" @keyup.enter="query" placeholder="搜索">
			</div>
			<a class="btn btn-default" @click="query">查询</a>
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			<a class="btn btn-info" @click="start" plain><i class="fa fa-hourglass-start"></i>&nbsp;开始</a>
			<a class="btn btn-info" @click="resume" plain><i class="fa fa-check-circle"></i>&nbsp;启用</a>
			<a class="btn btn-info" @click="pause" plain><i class="fa fa-warning"></i>&nbsp;暂停</a>
		</div>
<table id="jqGrid"></table>
<div id="jqGridPager"></div>
</div>

<div v-show="!showList" class="panel panel-default">
	<div class="panel-heading">{{title}}</div>
	<form class="form-horizontal">
		<div class="form-group">
			<div class="col-sm-2 control-label">请求名称</div>
			<div class="col-sm-10">
				<input type="text" class="form-control" v-model="object.requestName" placeholder="请求名称"/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label">请求方式</div>
			<div class="col-sm-10">
				<label class="radio-inline">
					<input type="radio" name="requestMethod" value="GET" v-model="object.requestMethod"/> GET
				</label>
				<label class="radio-inline">
					<input type="radio" name="requestMethod" value="POST" v-model="object.requestMethod"/> POST
				</label>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label">CRON表达式</div>
			<div class="col-sm-10">
				<input type="text" class="form-control" v-model="object.requestCron" placeholder="CRON表达式"/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label">请求URL</div>
			<div class="col-sm-10">
				<input type="text" class="form-control" v-model="object.requestUrl" placeholder="URL"/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label">状态</div>
			<label class="radio-inline">
				<input type="radio" name="status" value="0" v-model="object.status"/> 暂停
			</label>
			<label class="radio-inline">
				<input type="radio" name="status" value="1" v-model="object.status"/> 启用
			</label>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label"></div>
			<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
			&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
		</div>
	</form>
</div>
</div>

<script src="${request.contextPath}/statics/js/modules/request-list.js?_${.now?long}"></script>
</body>
</html>